[2021-04-22 16:59] arpitBhalla opened #28 "New component: List"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Browser Name and version:
- Operating System and version (desktop or mobile):
- Link to your project:

[2021-04-22 17:00] arpitBhalla commented on #28
@timcreative may I work on this?

[2021-04-23 11:24] arpitBhalla commented on #28
Hey @sajadevo can we add something like this
https://material.io/go/design-lists

[2021-04-25 23:15] rmanalan opened #30 "Global CSS cannot be imported from within node_modules"
In trying to use the `Popover` component in a Nextjs codebase,

[code]

I get the following error in Nextjs:

[code]

Nextjs doesn't like it when a package is importing a CSS file from another module. See: https://nextjs.org/docs/messages/css-npm

[2021-04-26 03:53] #28 closed

[2021-04-26 10:25] sajadevo commented on #30
@rmanalan Thanks for your helpful feedback for making material tailwind better,

We will fix this issue in the new version of material tailwind.

**All the best**
**Sajad**

[2021-04-26 14:44] sajadevo commented on #30
@rmanalan The issue that you have mentioned is now fixed in the material tailwind v0.3.0 and you can use it now normally.

[2021-04-26 14:45] rmanalan commented on #30
Wow... that was fast. Thanks!

On April 26, 2021 at 7:44 AM, Sajad Ahmad Nawabi ***@***.***) wrote:
@rmanalan ( https://github.com/rmanalan ) The issue that you have mentioned is now fixed in the material tailwind v0.3.0 and you can use it now normally.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub ( https://github.com/creativetimofficial/mate

[2021-04-26 14:47] sajadevo commented on #30
@rmanalan Thanks a lot we appreciate our user feedback if you found other issues with material tailwind feel free and add it here we will fix it as soon as possible. 🙏

[2021-04-26 14:47] #30 closed

[2021-04-27 22:48] rmanalan commented on #30
Still getting the issue with 0.3.0:

![image](https://user-images.githubusercontent.com/549/116321998-03641b00-a770-11eb-9db8-1775ca17259c.png)

[2021-04-27 23:55] rmanalan opened #32 "Override classes on components"
Since this is using Tailwind, we should be able to override classes on components. For example, I'd love to change the bg color of a popover, but I can't. Will this be supported?

[2021-04-28 01:45] harvanchik opened #33 "Question: How long until Angular?"
I'm looking for good TailwindCSS Components for Angular.  Roughly how long until this will be available for Angular?

[2021-04-28 09:22] EINazare commented on #30
Hey @rmanalan ,

Could you share your project with us? Or a minimal project with the issue?
Alternatively, you can share with us some steps to reproduce your issue, for example:
1. Run in terminal `npx create-next-app text-material-tailwind`
2. Install material tailwind: `npm i -E @material-tailwind/react`
3. Add the following code inside `App.js`
4. etc.
Something like that?

Thank you,
Manu

[2021-04-28 11:47] sajadevo commented on #30
Hey @rmanalan,

Thanks again for helping us to make the material tailwind better 🙏

The issue that you have mentioned is with the style sheets of tippy.js and not working for popover, tooltips and dropdown components but now we compiled it into the tailwind.css file our main style sheet for material tailwind that hold everything about the style.
I have update the library and now its working fine 😊

[2021-04-28 11:51] sajadevo commented on #30
[code]

[2021-04-28 11:59] sajadevo commented on #33
Hey @harvanchik
Until now we are in the testing stage of our framework and collecting feedbacks to make the material-tailwind better and easy to use, and once we publish the stable react version of Material Tailwind v1.0.0 then we will work on the angular version.

We will inform you once we publish the angular version of Material Tailwind.
Feel free to ask any type of question related to Material

[2021-04-28 12:10] sajadevo commented on #32
Hey @rmanalan
Thanks a lot for the feedback we will have something better to control the design of the components the way you want on the next upcoming version.

**All the best**
**Sajad**

[2021-04-29 06:40] #33 closed

[2021-04-29 06:40] #32 closed

[2021-05-06 19:39] rmanalan commented on #32
Thanks @sajadevo. Any idea when this feature will be available? I'm trying to determine if I should create a custom fork for my needs or just wait for this feature. My immediate need is to be able to change the color of a popover. I was thinking that it would be nice to just allow for passing down the `className` prop to the material-ui components so that the classes on the components can be overr

[2021-05-07 10:49] sajadevo commented on #32
Hello @rmanalan don't worry I will make a new update and add the className prop for the components until we make a better way for doing that, the new update will be available in one or two days.

**All the best**
**Sajad**

[2021-05-19 06:08] sajadevo commented on #32
Hello @rmanalan now you can update the material tailwind to the latest version and use the className props for the components.

**All the best**
**Sajad**

[2021-05-24 13:40] yamiteru opened #37 "Typescript support"
## Expected Behavior
Should be able to use in TS project without any errors saying it `Could not find a declaration file for module `@material-tailwind/react/*`.

## Current Behavior
I cannot use it in TS project as seen here:
<img width="520" alt="image" src="https://user-images.githubusercontent.com/34185465/119355905-16520880-bca6-11eb-8350-3f6e342597fc.png">

## Possible Solution
Add native TS

[2021-05-25 11:54] shareef99 opened #38 "Question: Can I use @material-tailwind for a serious project"
I just wanna ask that stable release of material-tailwind is not released yet so
Can I use @material-tailwind for a serious project?

I am using NextJS with TypeScript and Material-UI but Material-UI is not working properly with the tailwindcss.

[2021-05-26 05:55] sajadevo commented on #38
Hello @shareef99,

You can use material tailwind with any type of projects you want but currently we don't have any support for typescript.

**All the best**
**Sajad**

[2021-05-26 05:57] sajadevo commented on #37
Hello @the-yamiteru,
Unfortunately we don't have any support for typescript, but we will add it soon.

**All the best**
**Sajad**

[2021-05-26 05:59] shareef99 commented on #38
Thanks, I will use it and eagerly waiting for typescript support.

[2021-05-26 05:59] #38 closed

[2021-06-10 18:59] Kublick opened #48 "Does it work with nextjs?"
Tried to test it out in Next Js

Installed using:
yarn add @material-tailwind/react -E

on _app.js
added:
import "@material-tailwind/react/tailwind.css";

Below code should display a white square in the center of the page with a gray background.
[code]
The square wont show.

Vertical centering will not trigger even following the login example classes used.

[2021-06-10 20:32] #48 closed, assigned to nobody

[2021-06-10 20:32] Kublick commented on #48
I had missing the utility classes in global.css it works now :D

[2021-06-21 05:22] Kublick opened #49 "Select component"
Any plans to add a select component ?

[2021-06-24 16:47] rmanalan commented on #37
Just wondering if there's a plan to add TS support soon?

[2021-06-27 22:04] SteliosKon opened #50 "Remove bottom margin from navbar"
Hello, I cannot remove the mb-3 rule from the navbars.
Is there an elegant way to do it ?

[2021-06-28 10:21] dgan181 opened #51 "Overide ClassName for Modal Component"
It seems the I can overide the `className` prop for every other component except Modals. I am trying to position the modal at the bottom of the screen and change the background colour.

[2021-06-28 14:05] remidosol commented on #37
@rmanalan I'm wondering too, I really need it for my bootcamp homeworks for React.

[2021-06-28 14:06] remidosol commented on #37
@rmanalan I'm wondering too, I really need it for React homeworks that are in a bootcamp.

[2021-06-28 15:42] DanDev95 opened #52 "Dropdown icon is showing as text"
Copied the example from the docs

Got this

![image](https://user-images.githubusercontent.com/76797800/123665089-3db56b80-d838-11eb-913b-5f59ba6adf3b.png)

[2021-06-29 08:36] sajadevo commented on #52
**Hi Dan**

Thanks for using Material Tailwind its because you don't add the link of the material icons to your project.
Just add this link to the head of your app: `<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>`

[2021-06-29 08:36] #52 closed

[2021-06-29 08:37] sajadevo commented on #49
**Hi Kublick**
Thanks for using Material Tailwind, yes we have the plan to add select component for the next version.

[2021-06-29 08:37] #49 closed

[2021-06-29 08:39] sajadevo commented on #51
**Hi Dgan**
Thanks for using Material Tailwind, currently Material Tailwind is not on its stable versions and components don't have any theme provider for more customizations we have the className props for some of the components not at all and we will take care of that on the next version of Material Tailwind.

[2021-06-29 08:39] #51 closed

[2021-06-30 09:08] ExordiumX opened #53 "Close dropdown"
How can I make it so that the dropdown closes when an item is clicked?

[2021-07-01 22:15] Shifath472533 opened #54 "tabs are not responsive"
The tabs are not responsive. It moves out of the screen.

[2021-07-01 22:16] Shifath472533 commented on #54
The tabs are not responsive.

[2021-07-06 15:43] njahncke-megaphone opened #55 "Add inputRef support"
First off, great library! Thanks a lot for all your hard work. I would PR this fix myself, but I'm not familiar enough with React yet.

## Expected Behavior

Standard Material UI Components allow for the passing of refs via the `inputRef` prop. The Material Tailwind version should as well.

## Current Behavior

If you add a ref via `inputRef` to a Material Tailwind Input Component, you receive the

[2021-07-08 13:12] lemarcgagnon opened #56 "icon font family property not working : family="font-awesome""
## Expected Behavior

I was expecting the Icon.js module to be able to use the family property with the " "family: 'font-awesome' " not  " family: 'material-icons' "

## Current Behavior for material-tailwind-dashboard-react-main > Component > Setting.js

 <StatusCard
                            color="pink"
                            family="font-awesome"
                            icon="fa-cam

[2021-07-09 17:10] msreekm commented on #55
Created a PR for this https://github.com/creativetimofficial/material-tailwind/pull/57.

[2021-07-11 03:35] blanktix opened #58 "Change Dropdown buttonText"
How can we change the buttonText with selected dropdown items? Should we use useEffect in every dropdown components to handle change?

[2021-07-11 16:42] dwalsh01 opened #59 "Breakpoints not working with Material Tailwind & Next.js"
## Expected Behavior

After starting a fresh project with the next.js tailwindCSS starter template and installing the material-tailwind package as per the docs, I created a heading which I expect to be aligned to the left from medium screens and up.

The code used is as follows:
[code]

## Current Behavior

Instead I get the text centered at all screen sizes (breakpoints). This happens with multip

[2021-07-14 19:07] samarth-rao opened #60 "Textarea does not have an option to pass rows"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

When passing rows to <Textarea rows={2} /> it should work.

## Current Behavior

rows="7" is hardcoded in Textarea.js

## Possible Solution

rows=rest.rows || "7" in Textarea.js

## Context

In my project, I don't need this big Textarea. 2 or 3 rows are sufficient.

[2021-07-22 08:37] gtarun opened #61 "Error in text when importing Tooltip"
I was using an example of tooltip for talwind-react components and found that there is an typing error which needs to be fixed
https://material-tailwind.com/documentation/react/tooltips

Doc says to:  import TooltipsContent from "@material-tailwind/react/TooltipsContent";

and used as: <TooltipContents>Tooltip bottom</TooltipContents>

If someone is copying the code they will see an error

[2021-07-22 08:48] #61 closed

[2021-07-27 13:29] DanDev95 commented on #59
Can confirm. This is incredibly annoying and ruins the entire library.

[2021-07-29 10:28] ExordiumX opened #63 "Add Icon to dropdown"
How do I add an icon to the dropdown component? You seem to have done this somehow on the documentation site at the header, but I can't figure out how.

[2021-07-29 13:10] DanDev95 commented on #60
I also need to change the amount of rows. Is this library really this incomplete?

[2021-07-30 07:32] ghifari-ti opened #64 "Add custom text color input"
can i change custom color for input or inputicon?

[2021-08-02 07:36] reanyouda commented on #50
i'm looking for that too.

[2021-08-02 07:44] reanyouda opened #65 "Overide ClassName for Modal Component"
Overide ClassName for Modal Component  not working at all?
any suggestion

example :
[code]

[2021-08-15 14:46] oshimayoan commented on #51
Hi @sajadevo, thanks for the info. Do you have any estimation of when is the next version coming out?

[2021-08-15 14:49] oshimayoan commented on #65
I believe this is a duplicate of #51

[2021-08-16 09:58] oshimayoan commented on #48
Hey @Kublick, did you have missing classes when deployed to production by any chance?

[2021-08-16 13:10] kkd1215 commented on #59
Just created a couple of pages for a client's website.  After completing them, realized that the breakpoints didn't work because of the said CSS file. Please let me know if this has any solution.

[2021-08-18 14:30] #50 closed

[2021-08-24 03:41] AbrarRanjha opened #66 "Add Stepper"
Add Stepper

[2021-08-25 13:40] shierro opened #67 "[feature request] change progress percentage label/text"
## Expected Behavior

If possible, change the label "Completed" in progress bar, percentage = true

## Current Behavior

No API yet to edit this

## Possible Solution

[code]

## Your Environment

- Version used: 1.0.7
- Browser Name and version: chrome
- Operating System and version (desktop or mobile): desktop
- Link to your project:

[2021-09-05 14:22] thcxx opened #68 "Dropdown have a text Arrow_drop_down instead of arrow symbol"
When i use dropdown component it working but it showing Arrow_drop_down text instead of arrow symbol. Can you check it ?

[2021-09-05 14:29] #68 closed

[2021-09-05 21:24] ZE-BOSS opened #69 "add select input"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Browser Name and version:
- Operating System and version (desktop or mobile):
- Link to your project:

[2021-10-05 01:29] dohomi commented on #37
@sajadevo is there any progress to follow up on? I'd be interested in it too

[2021-10-05 12:11] nicogulo opened #70 "hi guys, how can I modify the color in the component? and it is possible if we put className into components?"
`<Dropdown
        color="dark"

        buttonText=" All Categories"
        buttonType="outline"

[2021-10-08 07:07] sajadevo commented on #69
**Hi** @ZE-BOSS

Thanks for using Material Tailwind we will take care of the new component on the next updates of Material Tailwind.

**All the best**
**Sajad**

[2021-10-09 19:23] Bhavin789 commented on #67
HI @shierro, is this is being worked upon? If not, mind if I give it a try? Thanks!!

[2021-10-09 23:31] shierro commented on #67
Haven't worked on it yet and of course you can 😄

On Sun, 10 Oct 2021, 3:23 am Bhavin Ag, ***@***.***> wrote:

[2021-10-11 12:06] rutulganatra commented on #63
@DanDev95 Can you assign this task under hactoberfest label and which page you want to add icon in dropdown component?

[2021-11-04 06:02] hiprm opened #71 "where can I find ICON short code (<Icon name="map" size="2xl" />)"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Browser Name and version:
- Operating System and version (desktop or mobile):
- Link to your project:

[2021-11-06 17:40] kaspnilsson commented on #63
Do it like this, @DanDev95: https://github.com/creativetimofficial/material-tailwind/blob/fef387df3ff87cd0fb911efa5e5c6f17f3c7850e/components/Documentation/Navbar.js#L57

[2021-11-13 18:31] worapolburaphan commented on #37
anything I can skip this error os ts support?

[2021-11-22 00:42] KvngAlka commented on #37
You can name you file <filename>.js
eg. if the filename is index.tsx, you can make it index.js.
it will still work in the project

[2021-12-11 15:21] JorisHey commented on #59
For what it's worth.

I had the same issue (though in my Gatsby project) and was able to fix this to first import Material-Tailwind and Tailwind itself after this import.

[2021-12-22 07:42] Nikola-Milovic opened #72 "Text inside TextArea goes over the placeholder"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

Text should be padded somehow not to go over the placeholder when scrolled but rather always stay below it

## Current Behavior

Text clips the upper boundary of text area and it just looks bad

## Possible Solution

## Steps to Reproduce (for bugs)

![image](https://user-image

[2021-12-24 13:20] sajadevo commented on #72
**Hi there**

Thanks for reporting that we will fix that on the next update of the product.

**All the best**
**Sajad**

[2022-01-05 01:14] levankhoabhc commented on #59
I've just experienced this issues. The two CSS library probably not working together. I have to remove '@material-tailwind/react/tailwind.css' and trying to reproduce it somehow.

[2022-01-06 09:59] diegoalvarezmgl commented on #59
Same here, this is really annoying, I migrated my entire project from Create React App to NextJS and now nothing works because I cannot import this library, this is awful.

[2022-01-08 08:05] RezaHabibi1001 opened #73 "put a demo of your project , to see all in one sight"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Browser Name and version:
- Operating System and version (desktop or mobile):
- Link to your project:

[2022-01-08 08:06] #73 closed

[2022-01-14 16:45] aviemet commented on #37
For those looking to use this library before typescript is fully supported, you can create your own declaration file and type the components as you use them. It adds a bit of legwork, but if your editor provides feedback, defining the types should be pretty simple.

Create a file called `decs.d.ts` at the same location as your `tsconfig.json` file, or if you prefer it to be located eslewhere, make

[2022-01-14 16:52] aviemet opened #74 "Non-default exports for React components"
This is a feature request to be able to import components on one line like so:

[code]

A very minor thing, but would be nice to have.

Thank you

[2022-01-14 19:05] yamiteru commented on #37
@aviemet Thanks.

It's actually a lot of leg work and I don't understand why the author doesn't rewrite it into TS. There are even apps and small utilities that help with JS->TS migration.

[2022-01-15 21:26] aviemet commented on #37
After looking at the issue history and last update, I'm beginning to think this project has been abandoned by the author.

[2022-01-24 22:14] mattienodj commented on #37
Thanks for the hint @aviemet! I'm using this in a Storybook, Tailwind, TS, React set up and have started a Gist that I'll keep updated as I go.

https://gist.github.com/mattienodj/6293b565c60cc26f2d6ca0480f06acfa

[2022-01-25 06:51] sajadevo commented on #37
**Hi everyone**

After a long break update for Material Tailwind now we come with totally new plans 2022 will be the year that Material Tailwind v1.0.0 is going to be released with TypeScript support and all new components and features.

**All the best**
**Sajad**

[2022-02-14 05:12] sajadevo commented on #37
**Hi everyone**

To get the latest updates and supports for the products and other related things to Creative Tim please join our [Discord Community](https://discord.gg/FhCJCaHdQa).
Material Tailwind updates will be posted their as well!

**All the best,
Sajad**

[2022-03-01 21:00] AndreCox commented on #37
### Fix to get typescript working
Hi everyone I have a solution to use this in a type script project! You won't have type checking but it will definitely work until we get version 1.0.0
 I saw someone recommended to declare each component individually. This works well however it is quite time consuming to add for each component. Instead you can use `declare module "@material-tailwind/react/*";`  T

[2022-03-14 18:51] DillonB07 opened #77 "Unexpected token 'export'"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

Importing a Button should work like so:
[code]

## Current Behavior

When opening the page, this error occurs. No, I'm not using TS

<details>
<summary>Error log</summary>

[code]
</details>

## Possible Solution

... Sorry, I don't know.

## Steps to Reproduce (for bugs)

~Her

[2022-03-15 19:05] DillonB07 commented on #77
Err, I feel stupid. I accidentally put this in my `_app.js`

[code]
instead of
[code]

[2022-03-15 19:05] #77 closed

[2022-03-22 09:32] gauravadhikariitfaq commented on #51
Any update on this ?

[2022-03-22 19:56] sajadevo commented on #51
**Hi guys**

I'm currently working on the official version of Material Tailwind v1.0.0 and this time it will be totally something new and interesting for you, also I should mention that with the official react version the html version will be also released.
Probably the new version will be available within one or two months.

**Note: To get the latest updates and supports for the products and othe

[2022-05-12 13:43] Md-Sarfaraz opened #78 "Input Field Unwanted Boder Appered"
Whenever the Input field is in focus, a border appears apart from the variant border style. is there any way to remove or disable it if it is present intentionally as a design? otherwise, if it's a  bug please fix it as soon as possible
by the way, I am using the latest version
[code]

and my tailwind.config.js file looks like
[code]

[2022-05-12 18:22] sajadevo commented on #78
Hi @Md-Sarfaraz

Thanks for using @material-tailwind/react, we noticed this issue and we will fix it for the next update.

All the best,
Sajad

[2022-05-12 18:23] #74 closed

[2022-05-12 18:23] #72 closed

[2022-05-12 18:23] #71 closed

[2022-05-12 18:24] #69 closed

[2022-05-12 18:25] sajadevo commented on #67
Hi guys,

I've just updated the @material-tailwind/react and fix this issue.

All the best,
Sajad

[2022-05-12 18:25] #67 closed

[2022-05-12 18:25] #65 closed

[2022-05-12 18:26] sajadevo commented on #64
Hi @ghifari-ti

I've just updated @material-tailwind/react and now it's possible to change input color.

All the best,
Sajad

[2022-05-12 18:26] #64 closed

[2022-05-12 18:28] sajadevo commented on #63
Hi guys,

I've updated @material-tailwind/react and now the dropdown changed to Menu component with more flexibility and scalability [Menu](https://www.material-tailwind.com/docs/react/menu).

All the best,
Sajad

[2022-05-12 18:28] #63 closed

[2022-05-12 18:31] sajadevo commented on #59
Hi guys,

I've just updated @material-tailwind/react and this issue is fixed now.

All the best,
Sajad

[2022-05-12 18:31] #59 closed

[2022-05-12 18:33] sajadevo commented on #58
Hi @blanktix

I've updated @material-tailwind/react and now the Dropdown component has changed to Menu component with more flexibility and scalability, please check the docs for the [Menu](https://www.material-tailwind.com/docs/react/menu) component.

All the best,
Sajad

[2022-05-12 18:33] #58 closed

[2022-05-12 18:35] sajadevo commented on #56
Hi @lemarcgagnon

I've updated @material-tailwind/react and now you can use any type of icon fonts you want.

All the best,
Sajad

[2022-05-12 18:35] #56 closed

[2022-05-12 18:37] sajadevo commented on #55
Hi guys,

I've updated @material-tailwind/react and now each component can get a ref.

All the best,
Sajad

[2022-05-12 18:37] #55 closed

[2022-05-12 18:39] sajadevo commented on #54
Hi @Shifath472533

I've updated @material-tailwind/react and now tabs are more flexible and scalable also its totally responsive, please check the [Tabs](https://www.material-tailwind.com/docs/react/tabs) component docs for a better understanding.

All the best,
Sajad

[2022-05-12 18:39] #54 closed

[2022-05-12 18:41] sajadevo commented on #53
Hi @ExordiumX

I've just updated @material-tailwind/react and the Dropdown component has changed to Menu component and now its more flexible, please check the [Menu](https://www.material-tailwind.com/docs/react/menu) docs for a better understanding.

All the best,
Sajad

[2022-05-12 18:41] #53 closed

[2022-05-12 18:43] #37 closed

[2022-05-12 20:55] plawnoj opened #80 "SyntaxError: Unexpected token 'export' after adding Material Tailwind"
Similar to this issue https://github.com/creativetimofficial/material-tailwind/issues/77

Steps taken:
1. Already had tailwind css added as a devDependency
2. npm i @material-tailwind/react
3.  added wrapping to tailwind config file:
![image](https://user-images.githubusercontent.com/43426006/168165992-7e9926c4-6aec-4b0a-81c7-4308cf8e4c39.png)
4. imported material-tailwind on _app.js file after al

[2022-05-12 23:28] 1739616529 opened #81 "Cannot be used in Vite"
I want to use it in Vite create react app. But it doesn't work

[2022-05-13 04:40] Angryman18 opened #82 "Please Keep Old Documentations Page also."
I have been using it for long and also do copy and paste from docs and i suddenly see these are vanished with new docs.

[2022-05-13 14:28] plawnoj commented on #80
ahh thank you @sajadevo much appreciated :)

[2022-05-14 11:13] ichuoi opened #84 "SyntaxError: Unexpected token 'export'"
Hello,
I have used old version and it run well until new version come out. I follow instruction to install new version, however I get error:

[code]

Here is my **_app.js** code:

[code]

this is **tailwind.config.js**

[code]

[2022-05-15 15:32] sajadevo commented on #84
Hi @ichuoi

I don't know why you put the following import `import '@material-tailwind/react'` this is not valid.

All the best,
Sajad

[2022-05-15 16:34] ichuoi commented on #84
Because I tried many way but it still same error
when I remove that line error in console:

[code]

and error in terminal
![image](https://user-images.githubusercontent.com/17430985/168483423-bce31fc5-32f0-41dd-8e44-4f7e50971de8.png)

it doesn't as I left that import line

[2022-05-15 16:48] ichuoi commented on #82
Agree, should keep both old version

[2022-05-16 06:07] sajadevo commented on #82
Hi guys,

Unfortunately we don't provide any support for the old version anymore since it was just a beta version not the initial one, but we will try to find a solution for that so that you can use it.

All the best,
Sajad

[2022-05-16 06:07] #82 closed

[2022-05-16 06:09] sajadevo commented on #84
@ichuoi,

Can I have your project source code?

All the best,
Sajad

[2022-05-16 10:41] ichuoi commented on #84
@sajadevo I have added you to my repo, because it still private, you can check the local-test branch
please careful, I'm deploying the master branch on vercel, thanks

[2022-05-16 19:22] sajadevo commented on #84
@ichuoi I found the issue it's because of the ES Modules in next.js you can simply solve this using by the following method:

1. Download next-transpile-modules: `npm i next-transpile-modules` or `yarn add next-transpile-modules`
2. Make your next.config.js like the following:

[code]

All the best,
Sajad

[2022-05-16 19:24] sajadevo commented on #84
I will fix this issue to make it working without next-transpile-modules for the next update of the project.

All the best,
Sajad

[2022-05-16 19:54] sajadevo commented on #81
Hi @1739616529

This issue will be fixed on the future update of the product.

All the best,
Sajad

[2022-05-19 22:59] Pedromdsn opened #89 "Suggestions"
### Good Morning,
#### Very good work with the Material kit it is just magnificent (Especially the Button).

So I would like to contribute with some component ideas that I think are essential to start using the Material kit in production.

1. Spiners - I know it's not hard to do, but it would take several minutes if the lib already came with them.
![image](https://user-images.githubusercontent.com

[2022-05-20 05:15] sajadevo commented on #89
Hi @Pedromdsn

Thanks a lot for your suggestions, could you please tell me for which version you want to add these components? Since some of them are already in progress and will be added for the future updates.

All the best,
Sajad

[2022-05-20 15:00] Pedromdsn commented on #89
Hi @sajadevo,

You can add to React was wonderful.
Another suggestion that I would also like to make was to add utility classes in react, you can use the HTML ones, but it seems that the components of the HTML version are a little uglier.
(The Button doesn't have those animations and all.)

Carefully,
Pedromdsn

[2022-05-23 17:16] sajadevo commented on #81
Hi @mahdi-jafaree

Yup I know that and already working on it, it's not the only issue we need to make it totally compatible with vite.js and this will definitely happen on the next update of the product.

All the best,
Sajad

[2022-05-27 08:23] nubinter opened #99 "material-tailwind/plugin not found"
hello
how to install material-tailwind HTML properly? when I try to run
`npm run watch`
I got error material-tailwind/plugin not found

[2022-05-30 16:24] PippoApps commented on #84
I am having the same issue.
Suggested fix with next-transpile -modules didn't work for me.

[2022-05-30 16:26] PippoApps commented on #84
Funny thing, it worked for a while, then it started to trigger that error without any apparent reason.

[2022-05-30 16:27] PippoApps commented on #84
Same fix worked for me as well.
I am following this thread waiting for a more elegant solution.

[2022-05-31 13:23] #99 closed

[2022-05-31 13:23] nubinter commented on #99
Thank you, i didn't look the guide at npm. I only try the guide at material-tailwind.com

[2022-05-31 15:17] copettim opened #104 "How to hide password in a Input ?"
How to hide password in a Input ?

[2022-05-31 18:36] sajadevo commented on #104
Hi @copettim

Thanks for using @material-tailwind, its just easy as simple html input <Input type="password" />

All the best,
Sajad

[2022-05-31 18:36] #104 closed

[2022-06-02 09:52] bluescr33nofdeath opened #105 "Setting "hidden={true}" in Button and IconButton components has no effect"
In React, if I set a Button or IconButton with "hidden={true}", it still appears. Removing the class "inline-block" they use solves that issue.

![imagen](https://user-images.githubusercontent.com/106739022/171606074-a4d389c5-5b53-4489-9971-7ed626feaade.png)

[2022-06-02 22:03] smcenlly commented on #78
I saw the same behavior in Safari but not in Chrome. I believe it can be removed with `outline:none`.

[2022-06-06 11:39] shakibdshy opened #106 "Responsive Navbar Not Working"
Please Include React Functionality

[2022-06-08 12:13] piratefinn opened #107 "Certain colours not working"
For filled (default) buttons (but not gradient), navbar and CardHeaders it was noticed that the "light-blue" and "orange" colours currently do not correctly render and show as white instead. This may also be present in other elements, but was simply where it had noticeably occurred during development using the application. Was on 1.0.3 of @material-tailwind@react.

[2022-06-08 13:38] piratefinn commented on #107
Scrap that, it was an issue with our own configs left over from migration from 0.3.4. We had changed the colour of some colours with (now commented out as seen):
[code]
The extend on background colour seemed to interfere with it and after commenting it out, it worked again.

[2022-06-09 03:20] nimatrazmjo commented on #84
Hello guys, I have still the same issue even after using `next-transpile-modules` package.

@sajadevo

[2022-06-09 10:04] nimatrazmjo opened #108 "Accordian change default collapse/expaln icon"
Is there any way to chnage collapse/explan icon from `+/-` to  drop down like  arrow up and down icon

Thanks

[2022-06-10 06:06] sajadevo commented on #108
HI @nimatrazmjo,

Yup you can just check the props information for the Accordion you can pass the icon prop and add the icon you like to have.
[Accordion Props](https://www.material-tailwind.com/docs/react/accordion#accordion-props)

All the best,
Sajad

[2022-06-10 06:06] #108 closed

[2022-06-10 15:18] Pedromdsn opened #109 "Error on require('material-tailwind/plugin')"
SO: Ubuntu 22.04
Environment:
nextjs: 12.1.6
react: 18
typescript: 4.6.4

Commands:
yarn add @material-tailwind/html

require('material-tailwind/plugin') <- Add to tailwind config

Error:
[code]

[2022-06-12 16:26] saket2001 opened #110 "How can I use Material Tailwind with Next JS"

[2022-06-12 16:38] #110 closed

[2022-06-12 16:53] Yonatani commented on #84
same issue with Remix app, any solution?

[2022-06-13 19:45] Panakotta00 commented on #109
This seems to be a issue from the Documentation.

I instead used a similar config as to for the react version.

[code]

Then it seems to work (at least the CSS side of things. (I haven't gotten the JS part, like the ripple effekt working yet)

[2022-06-14 05:56] sajadevo commented on #109
Hi guys,

My colleague @groovemen will fix this issue on the documentation thanks for mentioning that.

All the best,
Sajad

[2022-06-14 19:53] sajadevo commented on #105
Hi @bluescr33nofdeath,

Thanks for letting me know about this issue, I've updated the product and now it's working fine and the hidden attribute is working.

All the best,
Sajad

[2022-06-14 19:53] #105 closed

[2022-06-14 19:55] sajadevo commented on #84
Hi @ichuoi, @PippoApps, @Yonatani,

I've updated the @material-tailwind/react and now you can use it without and third-party library with next.js, remix.js and vite.js.

All the best,
Sajad

[2022-06-14 19:55] #84 closed

[2022-06-14 19:56] sajadevo commented on #81
Hi @1739616529, @mahdi-jafaree,

The @material-tailwind/react is updated and now you can use it with vite.js as well.

All the best,
Sajad

[2022-06-14 19:56] #81 closed

[2022-06-14 19:57] sajadevo commented on #78
Hi @Md-Sarfaraz, @smcenlly,

I've updated the @material-tailwind/react and now this issue is fixed for the following components:
- Input
- Select
- Textarea

All the best,
Sajad

[2022-06-14 19:57] #78 closed

[2022-06-18 12:08] murunwas opened #113 "material-tailwind.js missing on @material-tailwind/html"
I  installed @material-tailwind/html but I can't find the **material-tailwind.js** mention on the documentation.

[2022-06-18 23:39] ashfahan opened #114 "Dialog and few other components not working"
i just created a fresh project to test out material tailwind few of the components (like buttons) worked but as soon as i add dialog component from example it throws this error

i was using react 18 project with typescript

![image](https://user-images.githubusercontent.com/19289015/174460232-70c2492e-33b6-431a-b8e0-c66e3886dac1.png)

[2022-06-19 12:41] Rango-dz opened #115 "Question: How to keep tailwindcss default colors"
Hi,

After i installed material-tailwind i noticed a change in colors name and colors themselves , how can i keep tailwind default colors instead ?

thank you

[2022-06-20 18:16] ignaciojcano commented on #114
Rolled back to 1.0.3 and it works there

[2022-06-20 19:45] sajadevo commented on #114
Hi @ashfahan,

I've tested the project and it's an issue with the CRA based applications and I will fix it very soon.

All the best,
Sajad

[2022-06-20 19:48] sajadevo commented on #115
Hi @Rango-dz,

Just import the tailwindcss color and and add the color you like to have.

[code]

All the best,
Sajad

[2022-06-20 19:48] #115 closed

[2022-06-21 01:39] rolandin opened #116 "Checkbox and Inputs cannot be controlled"
I appologize in advance if I don't understand exactly how is supposed to be done or couldn't find the proper solution in the docs, feel free to close issue with an answer or a link, but I don't think the input  and checkbox components have props to be controlled, the input doesnt have a `value` prop nor the checkbox has a `checked` prop.

Any ways to control them?
There is neither a prop to pass `

[2022-06-21 08:07] sajadevo commented on #116
Hi @rolandin,

The Input and Checkbox components are working as native html components and you can make them controlled as you're doing it for native html components in react, here is a example for both Input and Checkbox components.

**Input**
[code]

**Checkbox**
[code]

All the best,
Sajad

[2022-06-21 11:49] #114 closed

[2022-06-21 15:30] 1OfThose opened #123 "TypeError: (0 , _reactDomInteractions).offset is not a function"
Trying to use a Select input and its relative Option tags (even if simply using the example from the docs) doesn't work and gives this error (React 18+) :

`Uncaught TypeError: (0 , _reactDomInteractions).offset is not a function`

[2022-06-21 16:33] sajadevo commented on #123
Hi @1OfThose,

Please update to the latest version of @material-tailwind/react (v1.0.6), I already fix this issue.

All the best,
Sajad

[2022-06-21 16:33] #123 closed

[2022-06-21 23:32] oren1991 commented on #113
Hi @murunwas! ran into same issue I think the docs are not updated. Checked the react docs and based on that I could figure it out
[code]
The idea is to wrap your tailwind config with the withMT util thingy :)

[2022-06-21 23:51] oren1991 commented on #113
hi @murunwas a possible workaround:
download it from `public/material-tailwind-html.js`

but I guess it would be nice if it was there with the package itself :)

[2022-06-22 21:58] oren1991 opened #124 "Menu component nested menu bug"
Hi Team!

I have encountered two bugs regarding Menu component nested menu. Copied the example code as is and it was not working as expected: **the nested menu did not open at all**

#### First issue
turned out that the issue was caused by `element.previousSibling` as my html has whitespaces that returned a textnode instead of the actual sibling element

[code]
changing these to `element.previousE

[2022-06-24 08:00] #124 closed

[2022-06-24 13:00] oren1991 commented on #113
Hi @sajadevo

is it okay if the build of the html package included the js file?

[code]

[2022-06-24 13:11] sajadevo commented on #113
@oren1991,

Sure it can, I already fixed this issue within an hour a new version will be available with the new docs update for html version.

All the best,
Sajad

[2022-06-24 14:36] sajadevo commented on #113
Hi guys,

The new version is released please check the change log there: [@material-tailwind/html v1.1.2](https://github.com/creativetimofficial/material-tailwind/releases/tag/1.1.2)

All the best,
Sajad

[2022-06-24 14:36] #113 closed

[2022-06-24 14:38] sajadevo commented on #109
Hi guys,

I've updated the @material-tailwind/html with its documentation please check it's change log there for more information: [@material-tailwind/html v1.1.2](https://github.com/creativetimofficial/material-tailwind/releases/tag/1.1.2)

All the best,
Sajad

[2022-07-01 13:22] Kilian-mescam opened #141 "Change default style of components"
It says that I can change default style of each component

https://www.material-tailwind.com/docs/react/theming

"The theme object is a plain object that contains all of the components styles object. All of the components styles are available in the theme object and these styles object has a unique format for different use cases."

But I don't understand where to put this object (which file ? shou

[2022-07-03 12:58] lansolo99 opened #142 "Misleading content on Next.js integration documentation"
Nothing big, but this sentence regarding the TailwindCSS configuration snippet for the [next documentation](https://www.material-tailwind.com/docs/react/guide/next) misleaded me :
[code]
This snippet has to be put inside tailwind.config.js, otherwise we get the following error :
[code]

The best would be to clearly point at this file.

Thanks for this very useful lib by the way 👍

[2022-07-03 17:18] lansolo99 commented on #141
I would be interested to get a working example also, as the documentation is lacking too much informations on theming...

[2022-07-04 06:18] sajadevo commented on #142
Hi @lansolo99,

Thanks for letting us know we're building the documentation day by day and trying to complete it the best possible way.

All the best,
Sajad

[2022-07-04 06:18] #142 closed

[2022-07-04 06:19] sajadevo commented on #141
Hi @lansolo99, @Kilian-mescam,

I'm working on the styling part for the documentation to add the styling guide for each component and it will be available soon.

All the best,
Sajad

[2022-07-04 06:19] #141 closed

[2022-07-04 17:45] rolandin commented on #116
@sajadevo  Affirmative!  I apologize, not sure what I was doing wrong.
Thanks for your hard work! The library is beautiful I love it!

[2022-07-05 04:24] satish860 opened #143 "Icon button is not able to get the Icons"
I am working on Next JS and trying to add an Icon to my page. I started with an example given on the page

[code]
Do I need to add any dependencies or Am I missing any obvious reference? I added font awesome but it did not help.

[2022-07-05 06:49] sajadevo commented on #143
Hi @satish860,

Which version of the fontawesome you've added to your project?

All the best,
Sajad

[2022-07-05 07:03] satish860 commented on #143
Hi Sajad, Added 6.0 version

[2022-07-05 09:14] sajadevo commented on #143
@satish860,

The v6 is a bit different add this one: `<i className="fa-solid fa-heart" />`

All the best,
Sajad

[2022-07-06 10:23] pizzafroide opened #144 "Handle disabled attribute"
When the `disabled` attribute is added to a `Button` for example, its style currently does not change at all.

From MaterialUI documentation:
![React Button component - Material UI - Google Chrome](https://user-images.githubusercontent.com/7723814/177528806-943a1914-ffec-4b7b-a00a-70c0335326d4.png)

It could also be done for `Input`, `Radio`, `Select`, `Switch`, and `Textarea`.

[2022-07-07 03:01] VishalLudhrani opened #145 "[documentation]: Theming object structure is confusing"
## Current documentation for theme object
[code]
## The problem
- The key `componentTheme` isn't interpretable enough.
- No description for `componentTheme`
- an `=` instead of a `:` (`componentTheme: { ... }`)
## Suggested changes
- Renaming `componentTheme` to `component`
- Providing a description for `component`
- changing `=` to `:`, hence updating the object as follows
[code]

If my suggestio

[2022-07-07 14:43] mnonga opened #146 "Switch not showing correctly"
I'm using  "@material-tailwind/react": "^1.0.6", and  "tailwindcss": "^3.0.24", in a react typescript project.

[2022-07-07 19:57] sajadevo commented on #146
Hi @mnonga,

Thanks for using material-tailwind, could you please send me a screenshot?

Regards,
Sajad

[2022-07-08 03:16] illiyyin opened #147 "Select component not showing correctly"
I just browse the page, and I found this
![Screenshot (8)](https://user-images.githubusercontent.com/42526534/177910126-d84717fb-b375-40d0-887e-8e821ee955a7.png)
![Screenshot (10)](https://user-images.githubusercontent.com/42526534/177910301-87e3b8d7-1ea9-4174-bf51-0f6e57ac9cd5.png)

on page https://www.material-tailwind.com/docs/react/select

[2022-07-08 07:17] mrkirchner commented on #144
this would be amazing

[2022-07-08 08:12] sajadevo commented on #147
Hi @illiyyin,

Thanks for reporting this issue I will fix.

Regards,
Sajad

[2022-07-08 09:13] mnonga commented on #146
![image](https://user-images.githubusercontent.com/51037169/177959615-bb2ed44b-1d8f-4658-a5d1-e4bc186d894c.png)

[2022-07-10 07:34] VishalLudhrani opened #148 "[bug]: Input field active state styling is broken"
## The problem:
![image](https://user-images.githubusercontent.com/59205958/178134797-86283a34-95ff-4df2-9c3b-df286226cea2.png)
The input field active state styling doesn't appear as it should (notice the label).
## The code
I couldn't regenerate the error on a codesandbox.
But here's the bit of my code where the Input component has been implemented:
[code]

[2022-07-10 12:57] VishalLudhrani commented on #148
TailwindCSS is installed in the project.
It seems that the in-built style upon focus is being applied.

Adding a class `focus:ring-0` solves the problem.

Here's the updated code:
[code]

And here's the result:
![image](https://user-images.githubusercontent.com/59205958/178145810-6a4a6220-3a58-48d9-9bd4-90ff5b9b55b1.png)

[2022-07-10 12:57] #148 closed

[2022-07-13 04:19] Gautam--Roy opened #149 "Chip component does not return a ref to itself when closed."
Hey Tim,

I've been using the library for some time now. Was wondering if there's a way to get a reference of the Chip component on the onClose event on the "dismissible" prop?

Right now, it returns a syntheticBaseEvent with no e.target.value.

Can you please share some insight on how we can get individual references or values of the Chip component when there are multiple of them?

<img width="25

[2022-07-13 06:26] #149 closed

[2022-07-13 06:26] Gautam--Roy commented on #149
Found the answer. Closing.

[2022-07-14 12:41] miriti opened #150 "Change `rounded` class variation globally"
Right now components like `Button`, `Card`, `CardHeader` etc. use `rounded-xl` class by default. Can I change it to just `rounded` globally?

[2022-07-15 19:33] nickfthedev opened #151 "How to change border color of inputs"
Can't figure it out, also can't change color of checkbox. Can someone help me?

[2022-07-17 08:26] sr-tamim opened #152 "material-tailwind not working in nextjs"
### I've created a project in nextjs (created by [refine](https://refine.dev/) & [superplate-cli](https://pankod.github.io/superplate/))
## Then I've installed material tailwind using `npm i @material-tailwind/react` command.

### As you can see that button isn't styled as expected.

![image](https://user-images.githubusercontent.com/86656406/179389985-6b5b9c3a-13fb-44c6-845a-133bf4c8d91f.png)

--

[2022-07-17 13:41] c-nv-s opened #153 "add readme instruction for locally serving the documentation"
Please could you add a note to the readme on how to serve the documentation locally for when users are offline

[2022-07-18 07:07] sajadevo commented on #152
Hi @sr-tamim,

You've missed to install tailwindcss because the styles are coming from tailwindcss library. Here is the docs for installing taillwindcss with next.js [TailwindCSS NextJS](https://tailwindcss.com/docs/guides/nextjs)

Cheers,
Sajad

[2022-07-18 07:07] #152 closed

[2022-07-18 07:07] sajadevo commented on #151
Hi @unchainedDev,

Which version of the library you're using the react or html?

Cheers,
Sajad

[2022-07-18 08:58] unchainedDev commented on #151
Sorry forgot to mention I am using the html version

[2022-07-18 15:08] oyamo opened #156 "Attempted import error: 'Typography'"
Tried to import typography using ` import { Typography } from "@material-tailwind/react";`
I got the following error
`./src/components/ProductCard.js
Attempted import error: 'Typography' is not exported from '@material-tailwind/react'.`
I am using version `0.3.4`

[2022-07-18 15:11] ahmedelkordy409 opened #157 "RTL support"

[2022-07-18 18:01] sajadevo commented on #156
Hi @oyamo,

Please update @material-tailwind/react to the latest version.

Cheers,
Sajad

[2022-07-18 18:01] #156 closed

[2022-07-19 11:43] miriti commented on #150
Hi @sajadevo ! Sorry about that. It's v1.0.6 - React.

[2022-07-19 12:07] #145 closed

[2022-07-20 17:50] sajadevo commented on #147
Hi @tan-ahmed,

The `Select` component `onChange` prop works together with the `value` props of the `Option` here is a quick example:

[code]

Cheers,
Sajad

[2022-07-20 18:04] #150 closed

[2022-07-20 18:45] #147 closed

[2022-07-21 03:21] 7flash opened #162 "using with tailwind cdn?"
[code]

Gives an error

[code]

[2022-07-21 03:24] 7flash commented on #162
Solution: using script module - it works!

[code]

[2022-07-21 03:29] #162 closed

[2022-07-21 15:34] lansolo99 opened #165 "Required attr. support for inputs"
Hi,

One of the thing I always need is the required attribute for fields. In MUI, addind a "required" prop also appends an asterisk after the label.

I struggled a bit to be able to append it myself as "required" is not a prop here and I couldn't pass element for the label. The "after" pseudo element is already taken for the focus animation, so the only workaround I found was to use the before ele

[2022-07-22 07:23] sajadevo commented on #165
Hi @lansolo99,

Thanks from your suggested feature, I'll take care of that for the next update.

Cheers,
Sajad

[2022-07-22 14:11] sr-tamim commented on #152
Oh, okay. I didn't noticed that.
**Thanks for your help**

[2022-07-23 00:37] UBCToad opened #168 "Limited Background Colours are available (Materials Tailwind + Next.js + React)"
Hi,
I'm new to Material Tailwind, Tailwind CSS, Node.js and everything React, so it's possible I'm doing something wrong.

In the ThemeProvider configuration object, for a tooltip I can set the background colour to bg-yellow-500 but not bg-yellow-300, etc.  Only 500.  (although blue-grey can be 500, 100, or 50)

Should this be possible?
From what I understand the following colour pallet should be

[2022-07-24 03:26] elwoodhouse opened #169 "Tabs indicator props ignored on initial render"
First off, thanks for making this library, I hope it continues to gain momentum.

I'm having this problem and I'm not sure if it's something I'm doing wrong or a bug.

When I setup a tabs header row and style the indicator with the indicator props, it renders as expected:

![image](https://user-images.githubusercontent.com/38488541/180629073-90c9c8b4-7696-4299-a72a-84bee713df74.png)

When I add th

[2022-07-24 18:28] UBCToad commented on #168
As a workaround, I found that adding a className directly to the component invocation will accept any colours:
[code]
This has been working well for all the components and even custom defined colours.

[2022-07-25 06:31] sajadevo commented on #169
Hi @elwoodhouse,

Could you please send me a link of the code you've done, you can use codesandbox or something similar to it for sharing the live code.

Cheers,
Sajad

[2022-07-25 06:34] sajadevo commented on #168
Hi @UBCToad,

The color props for component are only getting the 500 color code but if you wish to have more you can use `className` prop the `classNam` prop is available for all components and it will help you for customizing the components. For the future update we will try to have a prop `level` for defining the color level of component, e.g.
`<Tooltop color="yellow" level="300" />`

Cheers,
Sa

[2022-07-25 06:34] #168 closed

[2022-07-25 08:57] tan-ahmed commented on #153
overal docs need to be improved, they don't explain how to use any of the components.  we need examples, even if its a codesandbox example on each page...

[2022-07-25 10:17] sajadevo commented on #153
Hi @tan-ahmed,

I'm working on this part to add variety of examples for each docs page.

Cheers,
Sajad

[2022-07-25 10:34] Andriy-Lyashenko opened #173 "Configuring colors palette"
Hey material-tailwind team! I'm having troubles with configuring palette. My goal is setting up to RadioButton custom color which comes from css variables.
` <Radio color="appPrimary" id="html" name="type" label="HTML" />`
[code]

However it still doesn't work for me moreover the "color" prop is highlighted by message "Type '"appPrimary"' is not assignable to type 'colors'." . Could someone assist

[2022-07-25 14:59] Andriy-Lyashenko commented on #173
FYI: managed to fix by adding additional fields to colors object. It turns out that colors field consist of several props like **before,border,color** . Pay attention to color you're to use. In my case it would be "primary" which has been already set up in tailwind.config.js

[code]
Now it works for me, hope it helps another ones

[2022-07-26 08:05] #173 closed

[2022-07-28 07:19] shakibdshy opened #175 "Custom Tabs and New Features"
I'm New in this field and am now practicing React and Typescript with a material tailwind.
There are no options are available to change the Active TabsHeader white background color.

![image](https://user-images.githubusercontent.com/15661765/181460215-e2e6bbce-4b1f-4744-99e1-47009c9afcc2.png)

 I'm trying to build a custom Tabs Style but I think the Documentation didn't provide more specific info

[2022-07-28 19:05] huuhieu17 commented on #147
![image](https://user-images.githubusercontent.com/31349335/181617243-5fce2753-d1c4-48f4-b9c1-c35cc41673b3.png)
select not show selected dynamic data
![image](https://user-images.githubusercontent.com/31349335/181617452-7cb05845-c606-4fa1-82d2-120818a77960.png)

[2022-07-28 19:06] huuhieu17 commented on #147
**select not show selected dynamic data**
![image](https://user-images.githubusercontent.com/31349335/181617243-5fce2753-d1c4-48f4-b9c1-c35cc41673b3.png)

` <div className=" ">
            <Select color="purple" label="Năm"

              onChange={(e) => searchData(e, "year")}

              <Option value="0">Tất cả</Option>
              {listYear?.map((item, index) =>
              (

[2022-07-28 20:31] illiyyin commented on #147
@huuhieu17 you forgot `value` props

[2022-07-29 10:07] sajadevo commented on #175
Hi @shakibdshy,

Sure we'll add more examples but it needs time we're doing everything step by step, for now you can use the following link for the [tabs indicator](https://www.material-tailwind.com/docs/react/theme/tabs#tab-theme-object-type) styling.

Cheers,
Sajad

[2022-07-29 10:07] #175 closed

[2022-07-29 11:10] sajadevo commented on #169
Hi @elwoodhouse,

The issue is fixed now please update your @material-tailwind/react project by running:
`npm i @material-tailwind/react@latest`.

Cheers,
Sajad

[2022-07-29 11:10] #169 closed

[2022-07-29 11:10] sajadevo commented on #144
Hi guys,

The issues is fixed on the `@material-tailwind/react-v1.1.0`.

Cheers,
Sajad

[2022-07-29 11:10] #144 closed

[2022-07-29 11:58] floriaaan opened #177 "NextJS build fails because of react-merge-refs"
[code]

I don't even use Dialog component.

Node version: 16.14.2

package.json
[code]

[2022-07-29 14:37] mattia-lau commented on #177
same issue. @timcreative

react-merge-refs ESM only, is that able to copy the core code as lib?
[code]

[2022-07-29 22:17] system32uwu commented on #177
You can probably fix it using [next-transpile-modules](https://www.npmjs.com/package/next-transpile-modules). Note that the next.js version must be 12.1.6 or lower, last time I tried with 12.2 it broke.

[2022-07-30 00:54] mattia-lau commented on #177
any sample code for next.config.js? i also tried that. but seems not working.

[2022-07-30 02:26] system32uwu commented on #177
Just tried and it's not working even with that plugin, nor with esmExternals. This is a common next.js [issue](https://github.com/vercel/next.js/discussions/27876) though.

[2022-07-31 07:42] valoricDe opened #179 "Question: Funtionality Lost between 0.3.3 and 1.x"
Hi there,
I'm currently migrating from 0.3.3 to 1.1.0 and realized that there is some stuff missing which was there before. Some of them easily replaceable (InputIcon) and others with a bit more work.
Like the NavbarBrand, NavbarInput, Nav (Sidepanel) etc. I just wonder why.

Thanks have a good day.

[2022-08-01 06:07] sajadevo commented on #179
Hi @valoricDe,

The v0.3.3 was not the official version and on the v1 we start to make the components more reusable and flexible the `InputIcon` is dropped and you can use the `icon` prop for the `Input` component instead and the `Navbar` components was dropped because now the input and other components are totally customizable and we you don't need to have those components, please take a look to

[2022-08-01 06:07] #179 closed

[2022-08-01 06:09] sajadevo commented on #177
Hi guys,

I'm going to test it today and try to find a workaround for this issue.

Cheers,
Sajad

[2022-08-01 11:33] bamousa-mariem commented on #177
Hi everyone ,
Did you fix this issue ?

[2022-08-01 12:57] acazarnujib opened #180 "Multiple Switch component updates only the first switch"
After defining multiple Switch component, toggling any Switch component only updates the **first** Switch component.

[2022-08-01 13:01] acazarnujib commented on #180
indicating id props fixed the issue

[2022-08-01 19:02] sajadevo commented on #177
Hi guys,

This issue is fixed on the latest version please update the package: `npm i @material-tailwind/react@v1.2.0`.

Cheers,
Sajad

[2022-08-02 07:52] sajadevo commented on #106
Hi @shakibdshy,

The issue with responsive navbar is fixed.

Cheers,
Sajad

[2022-08-02 07:52] #106 closed

[2022-08-02 09:08] shakibdshy commented on #175
[code]
@sajadevo Can please tell me how to use this code and where can I add this code?
Please give me a live example.

[2022-08-02 11:56] sajadevo commented on #175
@shakibdshy please take a look to this page: [Material Tailwind Theming Guide](https://www.material-tailwind.com/docs/react/theming).

Cheers,
Sajad

[2022-08-03 14:18] esphoenixc opened #190 "Is it possible to use this with SvelteKit?"
Is it possible to use this with SvelteKit? I know it's compatible with REACt, but can I use with SvelteKit + Vite?

[2022-08-03 15:35] Kilian-mescam opened #191 "Customize Button component to add a color"
Hello,

I'm sorry but I don't really understand how can I add a color to the button's list color

`type color =
  | "blue-gray"
  | "gray"
  | "brown"
  | "deep-orange"
  | "orange"
  | "amber"
  | "yellow"
  | "lime"
  | "light-green"
  | "green"
  | "teal"
  | "cyan"
  | "light-blue"
  | "blue"
  | "indigo"
  | "deep-purple"
  | "purple"
  | "pink"
  | "red";`

I've created a "primary color" in

[2022-08-03 20:02] sajadevo commented on #190
Hi @esphoenixc,

Unfortunately you can't use it with SvelteKit at the moment this library is only available for HTML and React but you can use the HTML version in the SvelteKit because the `@material-tailwind/html` is working only with tailwindcss it's build for general usage.

Cheers,
Sajad

[2022-08-03 20:02] #190 closed

[2022-08-03 20:20] sajadevo commented on #191
Hi @Kilian-mescam,

For this you need to create a new button component and then import the button props and then assign it to the props of the new button component that you've created.

Here is an example:

[code]

Cheers,
Sajad

[2022-08-03 23:59] joaoperigo opened #192 "Change color of Input focus"
Hello! I Can't change color of Input focus. And didn't find a documentation.  I want to use tailwind colors, beside the limited colors in Materials.

### The ideal should be, wenever I want to set a color, from tailwind.config theme:
`<Input label="Username" color="black-1"  />`

### I get a results trying this (not ideal):
I achieved to change color in global.css:
[code]

And added the tailwind t

[2022-08-04 07:00] sajadevo commented on #192
Hi @joaoperigo,

Please follow this page: [https://www.material-tailwind.com/docs/react/theme/input](https://www.material-tailwind.com/docs/react/theme/input)

Cheers,
Sajad

[2022-08-04 07:00] #192 closed

[2022-08-04 08:21] Kilian-mescam commented on #191
Hi Sajad,

Thank you for your answer. Sorry but it's still not working. By doing that, I can use color from the list but can't use my primary color.

In addition to that, I would like to put my primary color as the color of the defaultProps in my "customTheme" file that I import in my ThemeProvider component.

How could I do that ?

Thanks

[2022-08-05 01:01] DavidRamirez92 opened #193 "MobileNav Doesn't work in next js."
When I use the component Navbar response ok on large screens, but on mobile, when you click on the burger icon, doesn't open the menu. I think the problem is with the Component <MobileNav>
I tested the example code at https://www.material-tailwind.com/docs/react/navbar
I probed in Chrome and in Edge.
I Attach images with the problem.
![open menu](https://user-images.githubusercontent.com/62220834/

[2022-08-05 09:23] sajadevo commented on #193
Hi @DavidRamirez92,

Please share the navbar code with me.

Cheers,
Sajad

[2022-08-05 09:36] sajadevo commented on #191
Hi @Kilian-mescam,

For adding a new color you need to follow these steps:

1. Create a new theme object as follow:
[code]

 2. Pass the `theme` as the `<ThemeProvider />` value:
[code]

Cheers,
Sajad

[2022-08-05 13:14] Kilian-mescam commented on #191
it's written that I have to import this line if I use typescript

`import type { ButtonStyleTypes } from "@material-tailwind/react";`

Where do I have to import it ?

[2022-08-05 15:15] DavidRamirez92 commented on #193
Sajad, Nice to meet you.
I send you the code Below:

import { useState, useEffect } from "react";
import {
  Navbar,
  MobileNav,
  Typography,
  Button,
  IconButton,
} from ***@***.***/react";

export default function Test() {
  const [openNav, setOpenNav] = useState(false);

  useEffect(() => {
    window.addEventListener(
      "resize",
      () => window.innerWidth >= 960 && setOpenNav(false

[2022-08-05 16:12] ctafsiras commented on #84
It solved my problem. thank you

[2022-08-05 19:04] sajadevo commented on #191
@Kilian-mescam,

Could you please share your code with me you can send my your repo link.

Cheers,
Sajad

[2022-08-06 16:28] bryhardt opened #194 "Accordion Body Height Not Changing"
problem was duplicated on a bare bones project...
nextjs, react, react-dom, sass, tailwind-css, material-tailwind/react

when adding Accordion component to a page, the "height" property does not change when interacting with the button/heading. The opacity property does change however.

When looking at the node_modules/@material-tailwind/react/components/Accordion/AccordionBody.js the "height" valu

[2022-08-06 20:45] Nicki-Di opened #195 "Checkbox color not working"
despite changing the checkbox colour through the colour prop, the colour won't apply immediately and applies after defocusing the checkbox.

[2022-08-07 11:03] Stargazer87 commented on #193
I have the same problem

[2022-08-09 07:27] sajadevo commented on #195
Hi @Nicki-Di,

Could you send me a short video of that issue?

Cheers,
Sajad

[2022-08-09 09:24] sajadevo commented on #194
Hi @bryhardt,

The issue is fixed please update to `@material-tailwind/react/v1.2.3`.

Cheers,
Sajad

[2022-08-09 09:25] sajadevo commented on #193
Hi guys,

The issue is fixed please update to `@material-tailwind/react/v1.2.3`.

Cheers,
Sajad

[2022-08-09 09:25] #193 closed

[2022-08-09 12:04] DavidRamirez92 commented on #193
Thank you so much Sajad.
Have a nice day.

El mar, 9 ago 2022 a la(s) 06:25, Sajad Ahmad Nawabi (
***@***.***) escribió:

[2022-08-12 16:13] miriti opened #197 "Input label ins't activated on autofill"
material-tailwind version: 1.2.3 React

The "Passowrd" input:
![image](https://user-images.githubusercontent.com/1500502/184397468-55775ca1-52c1-490a-8cfe-6894536050d1.png)

It's getting fixed on any user's action on the page. If I, say, click anywhere on the page the label moves up. Not sure if it's a `material-tailwind` bug but any ideas on how to fix it?

[2022-08-14 05:00] elwoodhouse commented on #169
Sorry it took me so long to get back to this issue. Yes this is fixed now, thanks for fixing so promptly.

[2022-08-16 14:36] Kilian-mescam commented on #191
Hi @sajadevo, @jazrobot,

Could it be a problem linked to typescript ? I tested it with JS and it works..

Thanks,

[2022-08-17 10:16] MadhuSaini22 commented on #151
How can we change the border- color of input type ="text" on focus?
Can anyone tell me as I'm new in tailwind

[2022-08-17 11:15] Kilian-mescam commented on #191
Hi!

It is very strange. I can't see my buttons, it's here but I can't see it. The color is dysfunctionnal. BUT, if I add a div with a "bg-primary" as a className, the buttons are displayed.

![image (7)](https://user-images.githubusercontent.com/80681652/185104993-f823bdd5-b907-4f4b-9284-509a4f372914.png)

![image (8)](https://user-images.githubusercontent.com/80681652/185105005-f8022adf-3119-4bb

[2022-08-18 05:41] sajadevo commented on #191
@Kilian-mescam,

Please invite me to your repository so that I can check it directly.

Cheers,
Sajad

[2022-08-18 06:15] khaledelbasha22 opened #198 "tabs not support form inputs"
**after upgrade from 0.3.4 to 1.2.3**

tabs not support the form input  because it's destroy all content with inputs and render other one

are you  have any way to solved  it ??

[2022-08-19 07:38] groovemen commented on #151
Hello @MadhuSaini22,

Thank you for using our products, for now, you have to change the component styling to achieve that. We will implement into future updates a feature to easily change the input border color.
Hope this information helps you. Please let us know if we can help you with anything else.

All the best,
Stefan

[2022-08-20 02:54] sr-tamim commented on #116
I was trying to get input value using _useRef_ hook in react but I couldn't do that.
@sajadevo Your method is working perfectly, **Thank you!**
#### However, is there any way to get value using _useRef_ hook?

[2022-08-21 14:53] NeoPrint3D opened #199 "The Website is not compatible with 1920px by 1008px screens"
![image](https://user-images.githubusercontent.com/77029802/185797087-b330731a-3c9d-4feb-9ca0-0375f0d5574a.png)

[2022-08-21 15:39] bymi15 opened #200 "Material Tailwind React components difficult to customise"
The components are very difficult to customise in general.
For example, for the Select component: https://www.material-tailwind.com/docs/react/select
If we try to make it a smaller width:
[code]
From inspecting the rendered elements, there seems to be an outer `div` component with className: `min-w-[200px]` that cannot be overridden or targeted via `className`

[2022-08-21 15:42] richierockskool commented on #84
npm i next-transpile-modules
Debugger attached.
/usr/local/lib/node_modules/npm/node_modules/isexe/index.js:8
export { isexe }
^^^^^^

SyntaxError: Unexpected token 'export'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1033:15)
    at Module._compile (node:internal/modules/cjs/loader:1069:27)
    at Object.Module._extensions..js (node:internal/mo

[2022-08-23 07:41] sajadevo commented on #84
@richierockskool could you please share your code?

[2022-08-23 07:46] sajadevo commented on #200
Hi @bymi15,

The `min-w-[200px]` is the minimum with for the select and the entire with of the `Select` component is related to it's parent element please do the following and you'll see that the width of the `Select` component is working fine.

[code]

As you can see the width of `Select` component is related to it's parent as much width you set for it's parent element it will be applied to the `

[2022-08-23 07:46] #200 closed

[2022-08-23 07:47] sajadevo commented on #199
Hi @NeoPrint3D,

Thanks for mentioning that we'll fix this issue asap.

Cheers,
Sajad

[2022-08-23 07:53] sajadevo commented on #116
Hi @sr-tamim,

Here is the code example based on your situation.

[code]

Cheers,
Sajad

[2022-08-23 14:25] lautaro-osacar opened #201 "labelProps not applying on label elements"
Hi! I'm trying to pass `labelProps` on an input in react package.
It seems that `labelProps` are not applying on any <label> element on the components.

see: https://github.com/creativetimofficial/material-tailwind/blob/1a8738335c41c0a2065a6025cda85875bcdd24ad/packages/material-tailwind-react/src/components/Input/index.tsx#L111

[2022-08-23 17:36] pyskywalker opened #202 "React: Updating a controlled select value causes selected value to disappear"
I made a controlled select value and once i update it , it momentarily appears on the input then disappears.### This is my code
`
import React, {
  useEffect,
  useState,
  useRef,
  createRef,
  useImperativeHandle,
  forwardRef,
} from "react";
import { Option, Select } from "@material-tailwind/react";
import { TAILWIND_COLORS } from "../utils/constants";
import { useField } from "formik";

cons

[2022-08-23 17:47] mldyh commented on #191
hi.. I come across the same problem. This suggestion works but now i get error

[code]

how can i fix that?

[2022-08-23 20:00] williamlmao opened #203 "Feature Request: Combobox (Input with Select)"
Material UI is awesome but I find myself often needing to bring in the [combobox from Headless UI](https://headlessui.com/react/combobox). It would be great if this component was supported!

[2022-08-23 21:32] Vitalsine85 opened #204 "Accordion closing when modal opens"
I have a button inside of my accordion that opens a modal. When the modal opens, it closes the accordion. When I exit the modal, the accordion reopens. I'd like the accordion to stay open the entire time, only opening and closing when the accordion header is clicked by the user. What's the best way to go about that?

Thanks!

[2022-08-24 08:07] pyskywalker commented on #195
https://user-images.githubusercontent.com/79524205/186229605-07b07c91-c620-4f9e-8e57-a3414b9af95b.mp4

[2022-08-24 18:44] sajadevo commented on #195
Hi guys,

I'm closing this issue as it's not the library issue it's something with the computer and it's performance itself.

Cheers,
Sajad

[2022-08-24 18:44] #195 closed

[2022-08-24 18:47] sajadevo commented on #204
Hi @Vitalsine85,

You can use the state as the Accordion is a controlled component you can control the open and close state for it using the `useState` hook, you just need to keep the `open` value `true` even when opening the modal.

Cheers,
Sajad

[2022-08-24 18:50] sajadevo commented on #191
Hi @mldyh,

It's not an error it's a warning because you can't add new value from a context to prop-types in react and it's fine you don't need to be worry about this.

Cheers,
Sajad

[2022-08-24 18:53] sajadevo commented on #202
Hi @pyskywalker,

Please take a look to the [Select Props](https://www.material-tailwind.com/docs/react/props/select) to know how they're working.

Cheers,
Sajad

[2022-08-24 19:42] Ewasuu opened #205 "Accordion with multiple accordions inside"
I'm trying to put some accordions inside another accordion, but the last accordion inside is being cut by the parent accordion, any idea?

Thanks!!

[2022-08-25 11:12] sajadevo commented on #205
Hi @Ewasuu,

Any image from the issue that you can provide for me?

Cheers,
Sajad

[2022-08-25 21:28] pyskywalker commented on #202
Hi @sajadevo ,
Do you maybe have an example i can work with, the explanation was very vague
Thanks

[2022-08-25 23:47] richierockskool commented on #84
To you directly or on the forum?

[2022-08-25 23:54] richierockskool commented on #84
richierockskool <https://github.com/richierockskool>/homebridge-inkbird-wifi-gateway <https://github.com/richierockskool/homebridge-inkbird-wifi-gateway>

https://github.com/richierockskool/homebridge-inkbird-wifi-gateway

[2022-08-26 06:28] sajadevo commented on #84
If it's a public github repository share it's link if it's private invite me, my username is: **sajadevo**

Cheers,
Sajad

[2022-08-26 06:36] sajadevo commented on #202
Here is an example of controlled select component.

[code]

Cheers,
Sajad

[2022-08-26 12:14] richierockskool commented on #84
All I needed was to update to 16.17.0, sorry for this…..Rich

[2022-08-31 18:58] williamlmao opened #207 "Tooltip only shows when child component is a Button."
Works
[code]

Does not work
[code]

[2022-08-31 19:28] saramorsi commented on #84
Running into the same issue but we're not using next.js so this solution doesn't help. Is there a general explanation of why this happens and how to fix it in general for projects using libraries with es modules and our project is commonjs?

[2022-09-01 07:35] sajadevo commented on #84
Hi @saramorsi,

Could you please tell me with which react framework you're using it.

Cheers,
Sajad

[2022-09-01 07:36] sajadevo commented on #207
Hi @williamlmao,

The tooltip only works with components that passes a ref you can not use it with a simple div because no ref is passed for it, please add a ref for the div and the same for the tooltip so to make it working.

Cheers,
Sajad

[2022-09-01 07:36] #207 closed

[2022-09-03 03:36] rabidcodemonkey opened #208 "Unable to change the fill color of the react radio component"
Unable to set the fill color for the radio component to a custom tailwind color using the react version of the library.  Unable to determine the proper custom theme settings.

I added a custom color to the tailwind.configs.js file:

[code]

I am able to use this color when styling a Material Tailwind React Button

[code]

![image](https://user-images.githubusercontent.com/29692095/190901487-15c660

[2022-09-03 05:12] not4fame opened #209 "Unable to change tabindex on Dialog component"
I'm unable to change tabindex on Dialog component, its alway set to "-1"

[2022-09-03 18:30] renaldodev opened #210 "Select element has wrong event type definition"
I ended up getting an error
when I was helping a friend, I noticed that it is an error in the type definition of the change event

<img width="570" alt="image" src="https://user-images.githubusercontent.com/48330827/188283425-a6cce318-98f9-4806-9bfe-dd2259db4b1e.png">

A think that the correct would be

[code]

[2022-09-04 13:32] hesxenon opened #213 "setup doesn't work with npm workspaces"
Hey, first of all thanks for all your work, I'm really looking forward to using this lib.

This wasn't particularly hard to solve once I looked into the code but the following should either be documented or you might want to find a more involved solution.

Given a setup where the tailwind config is not located at the same level as the node_modules (as is the case with npm workspaces) `withMT` will

[2022-09-04 15:58] hesxenon opened #214 "how override minimum input width"
I have a few components that are actually a lot smaller than the default minimum width of inputs (200px iirc). How can I stop `@material-tailwind` from setting this minimum width?

[2022-09-05 06:14] egalindoEH commented on #146
This is my code and looks like this:
`<div className='bg-yellow-400 w-full'>
                                <Switch defaultChecked />
                            </div>`

Versions:
"@material-tailwind/react": "^1.2.3",
"tailwindcss": "^3.1.8"

![image](https://user-images.githubusercontent.com/108294256/188372230-946a8a94-25d6-43c8-b16f-0b0b61658299.png)

[2022-09-05 07:39] sajadevo commented on #214
Hi @hesxenon,

Please use the following method:
1. Create a theme object for input:
[code]

2. Then pass the `theme` as a value for the `value` prop in `<ThemeProvider value={theme} />`.

Cheers,
Sajad

[2022-09-05 07:39] #214 closed

[2022-09-05 07:41] sajadevo commented on #208
Hi @rabidcodemonkey,

Could you please make your issue more descriptive?

Cheers,
Sajad

[2022-09-05 08:07] sajadevo commented on #209
Hi @not4fame,

You can simple set the tabindex for dialog component like this: `<Dialog tabIndex={10} />`

Cheers,
Sajad

[2022-09-05 08:07] #209 closed

[2022-09-05 08:08] #202 closed

[2022-09-05 08:16] sajadevo commented on #197
Hi @miriti,

Probably you have some issue with implementing the input type password here is how you can do it:
[code]

Cheers,
Sajad

[2022-09-05 08:16] #197 closed

[2022-09-05 10:02] #204 closed

[2022-09-05 10:03] #191 closed

[2022-09-05 10:31] #210 closed

[2022-09-05 10:31] sajadevo commented on #201
Hi @lautaro-osacar,

The issue is fixed on v1.2.4 please update to the latest version for resolving this issue.

Cheers,
Sajad

[2022-09-05 10:31] #201 closed

[2022-09-05 10:32] sajadevo commented on #198
Hi @khaledelbasha22,

The issue is fixed on v1.2.4 please update to the latest version for resolving this issue.

Cheers,
Sajad

[2022-09-05 10:32] #198 closed

[2022-09-05 23:10] jim-pickering commented on #205
![image](https://user-images.githubusercontent.com/4935614/188519476-ac80b9e9-8dde-4cec-8d53-2b5543d54b80.png)

[2022-09-07 13:28] Andriy-Lyashenko opened #218 "Tooltip remaining"
Hey material-tailwind team! Could you point out how to make tooltip content available when mouse is on tooltip content?

[2022-09-08 06:41] tannerboysun opened #219 "First Tooltip Child in a PopoverContent default showed"
For some reason, the first child with a tooltip in a popover will default be displayed and will not go away until MouseEnter and MouseLeave.

Upon dismissing the popover and opening it again, the tooltip is displayed again by default.

Using Tooltip on a list of buttons in a popover content block.

![image](https://user-images.githubusercontent.com/13684634/189051811-e2a6e66b-5d69-439d-851a-77e9f5

[2022-09-08 18:59] EilifAkerjordet opened #220 "Select component gets auto-focused when it has a default value"
I use Formik to control the value of all my form components. If I have an initialValue for the select component, when refreshing my screen, the select components value is first blank for a sec, then it gets set, and the input is focused.

Could this be because its value is set in a useEffect internally?

[2022-09-09 08:08] sajadevo commented on #220
Hi @EilifAkerjordet,

Could your please share a video from this issue so that I can know what's happening.

Cheers,
Sajad

[2022-09-09 08:10] sajadevo commented on #219
Hi @tannerboysun,

Please read the documentation for tooltip for those sort of cases: [Tooltip](https://www.material-tailwind.com/docs/react/props/tooltip).

Cheers,
Sajad

[2022-09-09 08:11] sajadevo commented on #218
Hi @Andriy-Lyashenko,

Just pass the `interactive` prop to the tooltip.

Cheers,
Sajad

[2022-09-09 08:11] #218 closed

[2022-09-13 18:31] EilifAkerjordet commented on #220
Upgrading to latest verion fixed it ! @sajadevo. I was at 1.0.2:)

[2022-09-14 07:03] #220 closed

[2022-09-14 08:38] divramod opened #221 "is there a typescript example available?"
hey,

i created a react typescript app with create-react-app.
i am trying to convert the example from here: https://www.creative-tim.com/product/material-tailwind-dashboard-react
to typescript but having no real success.

is there somewhere a typescript example for the react dashboard?

thx for providing the dashboard!

[2022-09-15 13:47] #199 closed

[2022-09-15 13:51] Kilian-mescam opened #222 "Customization of Chip coponent"
Hello,

I id like to customize the Chip component in order to use my own colors, etc. I use react and typescript.
I receive an error due to my customization "TypeError: Cannot convert undefined or null to object"

I, firstly, created a customChip component based on Chip component from Material-tailwind :

`interface CustomChipProps extends Omit<ChipProps, "color"> {
    variant?: "filled" | "gradi

[2022-09-17 01:45] nont65 opened #223 "Dialog animation is very slow in chrome"
I tried dialog demo in chrome, it's very slow (but in edge, firefox is smooth). Can you see this problem?

![ezgif com-gif-maker](https://user-images.githubusercontent.com/565772/190835737-f2d7e824-be48-442b-a194-0b66b8a21271.gif)

[2022-09-17 14:33] DanielSmith opened #224 "Feature Request: Date and Time pickers"
I like the ease of using this with Remix.  So far, so good.

Would like to request: DateField, TimeField (and combo of those).  Also would love to see Calendar Picker (bonus: with Date Range)

[2022-09-17 19:03] DanielSmith opened #225 "tabs: Flash of unstyled content"
What is the recommended way to load tabs so that it does not flash like this?  I am using the example from the docs:

![CleanShot 2022-09-17 at 15 01 06](https://user-images.githubusercontent.com/167197/190872569-5e623761-17c9-4e4e-bffc-df3583d3cb43.gif)

[2022-09-18 12:11] rabidcodemonkey commented on #208
My apologies.  I've updated the description.

[2022-09-19 05:39] sajadevo commented on #208
Hi @rabidcodemonkey,

Please use the following for adding new color for the radio button component.

[code]

Cheers,
Sajad

[2022-09-19 05:39] #208 closed

[2022-09-19 05:42] sajadevo commented on #225
Hi @DanielSmith,

Which example you've used because on the docs as you can see we don't have any flashing.

Cheers,
Sajad

[2022-09-19 05:43] sajadevo commented on #224
Hi @DanielSmith,

For sure I'll add this as a feature request so that on the next major updates we can add those components.

Cheers,
Sajad

[2022-09-19 05:46] sajadevo commented on #223
Hi @nont65,

It's not a slow animation it's lagging could you please tell me which version of chrome you're using because it's working very smooth on my machine.

Cheers,
Sajad

[2022-09-19 05:49] sajadevo commented on #222
Hi @Kilian-mescam,

Please use this page and see the theme object structure for the chip component. [Chip Theme](https://www.material-tailwind.com/docs/react/theme/chip)

Cheers,
Sajad

[2022-09-19 05:50] sajadevo commented on #221
Hi @divramod,

This dashboard was built on top of the first version of Material Tailwind one year ago but we'll update it to the latest version ASAP.

Cheers,
Sajad

[2022-09-19 07:14] daytch opened #226 "Can't import the named export 'Children' from non EcmaScript module (only default export is available)"
Hello There,

I got some bug, when upgrade from 0.3.4 to 1.2.4

<img width="761" alt="Screen Shot 2022-09-19 at 14 12 56" src="https://user-images.githubusercontent.com/4406981/190966557-0c7f3b3f-c244-466b-ab71-7d1ba0f696ea.png">

need advise please. . .

[2022-09-19 07:26] daytch commented on #226
the error has gone after I upgrade `react-scripts to 5.0.1 `

[2022-09-19 07:26] #226 closed

[2022-09-19 12:13] slhck opened #227 "Progress not visible when percentage too low"
It seems the label of the progress is rendered within the actual progress bar.

With 0 percentage, I do not even see the label:

<img width="874" alt="image" src="https://user-images.githubusercontent.com/582444/191013400-2bab8bcc-359f-423a-be33-29b80774883f.png">

Setting to percentage 5 and rendering the label "Unknown":

<img width="876" alt="image" src="https://user-images.githubusercontent.co

[2022-09-19 13:45] hesxenon opened #228 "idea: add section about testing with jest"
since material-tailwind components make use of the web animations API (which seems to be unsupported by jsdom) I think quite a few users might run into issues when testing interactions with components that use this component library.

Maybe it would make sense to include a little section about how to set up get jest working with material-tailwind?

E.g. by hinting to https://www.npmjs.com/package/

[2022-09-19 14:06] nont65 commented on #223
My chrome version is 105.0.5195.102.

[2022-09-19 17:50] jetuala commented on #223
I had the same problem last week, but for some reason, it's working smoothly now. I just updated my Chrome version to 105.0.5195.127

[2022-09-20 02:02] eByte23 commented on #116
Sorry to comment on a closed issue here.
Would a pr be accepted that adds the ability to pass `inputRef` which is the ref for the input field it's self so that the inputs ref can be accessed directly.

Material ui also does this.
See [https://mui.com/material-ui/api/input/#props](https://mui.com/material-ui/api/input/#props) `inputRef`
Thanks.

[2022-09-21 07:55] slhck commented on #143
Do users have to install something manually here?

I do not see any mention of this in the installation instructions or on this page: https://www.material-tailwind.com/docs/react/icon-button

I also have the same problem, my icon is not showing:

[code]

<img width="70" alt="image" src="https://user-images.githubusercontent.com/582444/191447810-2d215d15-3448-4a54-84cd-de53e1b547ce.png">

[2022-09-22 21:57] tannerboysun opened #229 "Select Component should behave like other Inputs"
The Select component in the React library does not behave as an input should and as the other inputs in Material Tailwind. If you set the value of the Select component as a state, if you don't change the state you shouldn't be able to change the select.

For example:

[code]

This should keep the selection component on the Cats option, because I have not implemented an onChange method.
However the

[2022-09-24 16:42] oztek22 opened #230 "TypeError: Cannot destructure property 'open' of 'e' as it is undefined."
Hi,

I am having the following error while implementing the Select component.

<img width="909" alt="image" src="https://user-images.githubusercontent.com/14314089/192108809-574ff68c-47eb-44f9-bd9b-a0dc9545b1ec.png">

Here is the minimum code to reproduce the error.

[code]

Also, everything works on my local setup but on production it fails. I'm using `parcel build` for the production environment

[2022-09-24 19:26] treyholt commented on #205
Any update on this?

[2022-09-24 19:52] flamz3d opened #231 "Tab Animation Suggestion"
Nice work, looks and behaves very nicely, thank you for your work. One suggestion would be to add the ability to control (or remove altogether) the animation of the Tab selector. I currently cannot use it because it is too slow.

[2022-09-25 10:13] 1337supercoder commented on #191
Hi @sajadevo all work for me but color prop typings. so there no any way with typescript to use custom colors or variants except creating new CustomButton component to override props and pass it as any, right?

[2022-09-25 18:19] VlodkoMr commented on #230
The same issue in my production build :(

[2022-09-26 09:03] Kilian-mescam commented on #222
Hi Sajad,

it seems that we can't add new colors in chip customization. It works well for me but when I add new colors inside "valid" i got the error  "TypeError: can't convert undefined to object"

[2022-09-26 15:06] valoricDe opened #232 "withMT not revering to used node_module folder within MonoRepo packages folder"
Hey there, I'm developing an electron app and came across an issue.

If using withMT in a monorepo packages folder it might not reach the node_module with

[code]
because the node_modules are residing in an level above the package.
<img width="1161" alt="Bildschirmfoto 2022-09-26 um 17 05 08" src="https://user-images.githubusercontent.com/22564188/192312504-749ce07a-5e76-4885-bdc1-f2a89bdbb927.png

[2022-09-27 08:26] Kilian-mescam commented on #151
Hello,

is this new feature available ? i don't understand how I can change the styling of the component to change color on focus.
PS: I'm working on react

thanks
Kilian

[2022-09-28 13:40] its-dev-fer opened #233 "Inputs not working properly while using html package"
Hi, I am using angular with tailwind configured, added withMT in my tailwind.config.js and inputs are not working as expected, let me give you some examples:

<img width="376" alt="image" src="https://user-images.githubusercontent.com/27165409/192792608-a8f33bb9-6f51-48ed-a93a-7c937f932419.png">

<img width="350" alt="image" src="https://user-images.githubusercontent.com/27165409/192792885-428f8ef

[2022-09-29 08:59] sajadevo commented on #233
Hi @its-dev-fer,

Just add the following script: `<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/inputs.js"></script>`

Cheers,
Sajad

[2022-09-29 08:59] #233 closed

[2022-09-29 22:02] its-dev-fer commented on #233
Refused to execute https://unpkg.com/@material-tailwind/html@latest/scripts/inputs.js as script because "X-Content-Type-Options: nosniff" was given and its Content-Type is not a script MIME type.

![image](https://user-images.githubusercontent.com/27165409/193150021-c115a7cf-3d21-41b7-811b-3499a5eaddf6.png)

[2022-09-30 11:00] sajadevo commented on #233
Hi @its-dev-fer,

Please use this link: [https://unpkg.com/@material-tailwind/html@1.2.1/scripts/input.js](https://unpkg.com/@material-tailwind/html@1.2.1/scripts/input.js)

Cheers,
Sajad

[2022-09-30 11:07] sajadevo commented on #222
Hi @Kilian-mescam,

Please see this link and it's related files the variants is an object of objects of each color name: [https://github.com/creativetimofficial/material-tailwind/blob/main/packages/material-tailwind-react/src/theme/components/chip/chipFilled.ts](https://github.com/creativetimofficial/material-tailwind/blob/main/packages/material-tailwind-react/src/theme/components/chip/chipFilled.

[2022-09-30 11:08] sajadevo commented on #191
**Hi @1337supercoder**

Yup the CustomButton is the only way.

Cheers,
Sajad

[2022-09-30 11:14] sajadevo commented on #231
Hey @flamz3d,

Thanks for using our library, for sure you can make it off please do the following.

[code]

Cheers,
Sajad

[2022-09-30 11:14] #231 closed

[2022-09-30 11:15] sajadevo commented on #205
Hi guys,

I've listed it for fixing on the next update of the library.

Cheers,
Sajad

[2022-09-30 11:21] sajadevo commented on #143
Hi @slhck,

You need to add the font awesome cdn link to your project to use font awesome icons.

Cheers,
Sajad

[2022-09-30 11:24] sajadevo commented on #116
Hi @eByte23,

Thanks for your suggestion we're trying to make the library better day by day, I'll add this feature on the next update.

Cheers,
Sajad

[2022-09-30 11:25] sajadevo commented on #223
Hey guys,

The Dialog components should be outside the other components not nested inside card or other components in the page.

Cheers,
Sajad

[2022-09-30 11:25] #223 closed

[2022-09-30 11:26] sajadevo commented on #228
Hi @hesxenon,

Thanks for your suggestion, I'll add ASAP with a complete guide.

Cheers,
Sajad

[2022-09-30 11:40] slhck commented on #143
I see. Is this documented anywhere? If not, please add it to the installation instructions, e.g. here:

- https://www.material-tailwind.com/docs/react/installation
- https://www.material-tailwind.com/docs/react/icon-button

[2022-09-30 20:17] RussHide opened #239 "Select component max-h"
How I can give a max height to the ul that is inside the select?
![Screenshot_1](https://user-images.githubusercontent.com/63980905/193350026-a9363c77-8d32-4362-b4f7-b138e17e413f.png)

[2022-09-30 21:12] #239 closed

[2022-09-30 21:13] RussHide commented on #239
menuProps={{className: 'bg-red-500 max-h-20'}}

[2022-10-01 20:24] akshayp660 opened #240 "Select does not have name attribute"
Reactjs component select doesn't have name attribute

[2022-10-05 15:36] Kilian-mescam commented on #222
Hi @sajadevo

Thank you, I didn't see all these informations. It helps a lot.
In my opinion you shoultd put it on the website in order to help more.

Kilian

[2022-10-09 13:16] Hat52 opened #243 "'Option' is not exported from '@material-tailwind/react'."
When trying to export Option it gives the error saying 'Option' is not exported from '@material-tailwind/react'.
If you think this Issue should be worked upon then I would like to  create a PR.
![image](https://user-images.githubusercontent.com/44437268/194758978-9db166a7-b6e5-4589-90a4-7f298574cc0f.png)

[2022-10-10 02:44] luisFebro commented on #243
This is the same error that prevent me to use the latest version of this lib

[2022-10-11 07:12] Kilian-mescam commented on #222
Hi,

ok thank you, but I don't really understand what do I have to put as
"Object" ? Is it written somewhere ? How can I know ?
thank you

Le lun. 19 sept. 2022 à 07:49, Sajad Ahmad Nawabi ***@***.***>
a écrit :

[2022-10-13 07:53] tvld opened #248 "" Vue.js versions are coming soon" does not give any indication"
We are about to start a new greenfield project. Loving your framework, it really would help if there is at least some kind of indication about the support of Vue.js. Weeks?  Month? Year?

[2022-10-17 00:47] RussHide opened #249 "Dialog z index"
How can i change  z-index, i have Select component inside Dialog component, and options disapear

I tried style={{zIndex: 999999}} un Dialog, and DialogBody and it didn't work
![Screenshot_1](https://user-images.githubusercontent.com/63980905/196073447-ef10af2d-3241-4351-8d1d-d89a3d197561.png)
![Screenshot_2](https://user-images.githubusercontent.com/63980905/196073452-d1ea9aed-3ef3-4fed-93c6-b27d

[2022-10-28 07:23] sajadevo commented on #249
Hi @RussHide,

Thanks for using our product, it's not related to `z-index` it's the overflow issue, please add the following for `<Dialog />` and `<DialogBody />`:

```className="overflow-auto"```

Cheers,
Sajad

[2022-10-28 07:26] sajadevo commented on #248
Hey @tvld,

Thanks for your supports, unfortunately the Vue.js version release is not clear because we didn't start to work on it, probably it will happen in 2023.

Regards,
Sajad

[2022-10-28 07:26] #248 closed

[2022-10-28 11:59] slhck commented on #143
Any updates on this? It would be nice to have instructions or best-practice suggestions on how to add the CDN. Given that this projects offers first-class support, it should really be documented to avoid confusion. Thanks!

[2022-11-01 06:00] sajadevo commented on #143
Hey @slhck,

I'll add it on the next update until use the following link for the cdn of [fontawesome](https://cdnjs.com/libraries/font-awesome)

Cheers,
Sajad

[2022-11-04 05:43] Shotto-P commented on #229
You are right. I faced this problem as well yesterday. It was created as a button, not an input element.

[2022-11-15 23:17] EilifAkerjordet opened #255 "ThemeProvider stopped working when upgrading from 1.0.3 -> 1.2.4"
What the title says. Surely I have to be missing some kind of API change here? I had a custom theme I was using with the ThemeProvider in 1.0.3, when upgrading to 1.2.4 it just stopped working. When logging out:
[code]
It appears like none of my custom styles are set... My theme looks like this:
[code]

[2022-11-16 05:43] sajadevo commented on #255
Hey @EilifAkerjordet,

Could you please share your repo with me or give me access?

Cheers,
Sajad

[2022-11-16 18:53] EilifAkerjordet commented on #255
@sajadevo after hours of ripping out what little hair I have left trying to solve this, I realized the issue. Im in a monorepo, and had forgotten to update one of the packages to 1.2.4. Once I did everything works like a charm!

[2022-11-16 18:53] #255 closed

[2022-11-21 22:54] drnkwati opened #256 "Typo in the documentation"
Hello.
The heading of this page has a typo. It should be menu not alert.
[menu]https://www.material-tailwind.com/docs/html/menu)
👍 thanks to the creators material tailwind.

[2022-11-26 07:59] shamssujon opened #257 "Removing properties from the screens object does not effect"
I was trying to customize the screens for my project. I can add a new screen or edit any existing one, but if I remove any of the predefined properties from the object, it does not remove them from the code.

This is my tailwind.config.js .
![Screenshot_2](https://user-images.githubusercontent.com/9370979/204078566-fed84d96-edbe-4138-8cf4-f72836a300b1.png)

You see I have edited the screen values

[2022-11-27 21:25] chris-hinds opened #258 "Support for NextJS 13 and server components"
Will Material Tailwind get full support for nextJS 13 and Reacts server components? To utilise server components and MTW we would need to make every component as a client component.

[2022-11-28 07:09] sajadevo commented on #258
Hey @chris-hinds,

For sure we'll make it available but it won't happen soon because first we need to make the library as much stable as we can.

Cheers,
Sajad

[2022-11-28 07:13] sajadevo commented on #257
Hey @shamssujon,

The screen values are coming as default value by material tailwind theme provider and the only way that you can remove them is to set the xl: "" and 2xl: "" to empty strings.

Cheers,
Sajad